@import '../../../../../theme/variables.scss';

.controls-button {
  display: flex;
  position: absolute;
  height: 100%;
  align-items: center;
  cursor: pointer;
  &__play {
    display: flex;
    justify-content: center;
    min-width: 112px;
    height: 112px;
    border-radius: 50%;
    align-items: center;
    background-color: $white;
    opacity: 0.6;
    transition: 150ms ease;
    &:hover {
      transform: scale(1.1);
    }
    & svg {
      margin-left: 8px;
    }
  }
  &__play.disabled {
    cursor: default;
    opacity: 0;
  }
}
