// for media queries
$isLarge: 'max-width: 1450px';
$isMedium: 'max-width: 810px';
$isSmall: 'max-width: 550px';
$isVerySmall: 'max-width: 375px';

$isMediumHeight: 'max-height: 710px';
$onboardingIsMediumHeight: 'max-height: 850px';
$onboardingIsSmallHeight: 'max-height: 650px';
