@import './breakpoints.scss';

$primaryFontRaleway: RalewayPrime, serif;
// $primaryFontInterMedium: 'Inter Medium', serif;
// $primaryFontWalsheimBold: 'GT Walsheim Pro Bold', serif;
// $primaryFontWalsheimRegular: 'GT Walsheim Pro Regular', serif;
// $primaryFontWalsheimMedium: 'GT Walsheim Pro Medium', serif;

$blue: #2086fb;
$purple: #8b72fb;
$darkPurple: #161323;
$crimson: #c51942;
$crimsonText: #af1f42;
$pink: #ff5ab3;
$white: #ffffff;

// $footerFontSize: (
//   $isLarge: 16px,
//   $isMedium: 12px,
// );
// $titleOnboardingFontSize: (
//   null: 48px,
//   $isLarge: 48px,
//   $isMedium: 34px,
// );
// $infoTitleOnboardingFontSize: (
//   null: 20px,
//   $isLarge: 20px,
//   $isMedium: 16px,
// );
// $infoDescrOnboardingFontSize: (
//   null: 16px,
//   $isLarge: 16px,
//   $isMedium: 12px,
// );
